
<div class="main-container password_reset_for_footer">
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
          <div class="text-center">
            <h1>Se ha enviado un email a: <%= @agent.email %> con instrucciones para cambiar contraseña.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
