<h1>Cambiar Contraseña, <%= @user.name %>.</h1>

<p>Para cambiar su contraseña hacer click en el link de abajo:</p>
<%= link_to "Cambiar Contraseña", edit_password_reset_user_url(@user.reset_token, email: @user.email) %>

<p>Este link va a expirar en 2 horas.</p>

<p>Si usted no solicito que su contraseña fuera cambiada, por favor ignore este email y su contraseña seguira sin ningun cambio.</p>
