<%= provide(:user_button_text, "Editar Perfil") %>
<%= provide(:user_url, edit_user_path(@user)) %>
<h1>Editar Perfil</h1>

<div class="col-sm-4 col-sm-offset-4 signup-form">
  <%= render "form" %>
  <%= link_to "Eliminar Cuenta", @user, method: :delete,
                                        data: { confirm: "Está seguro que desea eliminar su cuenta?" },
                                        class: "btn btn-danger delete-account-btn" %>
</div>
