
<section id="main-content">
  <div class="action-header-alt">
    <div class="action-header-item action-header-add">
      <%= link_to(new_property_path, class: "btn btn-danger btn-sm") do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
        Agregar Propiedad
      <% end %>
    </div>
  </div>
  <div class="main-container">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <header class="main-title">
      <h2>Propiedades</h2>
    </header>
    <div class="list-group list-group-block">
      <div class="list-group-header text-left">
        Total de Propiedades: 15
      </div>
      <div class="list-group-item media">
        <div class="pull-left">
          <img src="../images/metro.jpg" alt="image" class="list-group-img">
        </div>
        <div class="media-body list-group-text">
          <strong>C/Fabio Mota #9. Naco</strong>
          <small>$US 350,000. 4 Hab. 3 Ba単os...</small>
          <div class="list-group-label list-group-label-float">
            <span class="delete">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
              Eliminar
            </span>
            <span class="edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Editar
            </span>
          </div>
        </div>
      </div>
      <div class="list-group-item media">
        <div class="pull-left">
          <img src="../images/apart.jpg" alt="image" class="list-group-img">
        </div>
        <div class="media-body list-group-text">
          <strong>C/Fabio Mota #9. Naco</strong>
          <small>$US 350,000. 4 Hab. 3 Ba単os...</small>
          <div class="list-group-label list-group-label-float">
            <span class="delete">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
              Eliminar
            </span>
            <span class="edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Editar
            </span>
          </div>
        </div>
      </div>
      <div class="list-group-item media">
        <div class="pull-left">
          <img src="../images/pool.jpg" alt="image" class="list-group-img">
        </div>
        <div class="media-body list-group-text">
          <strong>C/Fabio Mota #9. Naco</strong>
          <small>$US 350,000. 4 Hab. 3 Ba単os...</small>
          <div class="list-group-label list-group-label-float">
            <span class="delete">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
              Eliminar
            </span>
            <span class="edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Editar
            </span>
          </div>
        </div>
      </div>
      <div class="list-group-item media">
        <div class="pull-left">
          <img src="../images/metro.jpg" alt="image" class="list-group-img">
        </div>
        <div class="media-body list-group-text">
          <strong>C/Fabio Mota #9. Naco</strong>
          <small>$US 350,000. 4 Hab. 3 Ba単os...</small>
          <div class="list-group-label list-group-label-float">
            <span class="delete">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
              Eliminar
            </span>
            <span class="edit">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Editar
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
