// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'slick';
@import 'slick-theme';
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/*CSS Resets*/
aside, article, section, header, footer, nav {
	display: block;
}

html , body, div, h1, h2, h3 , p , ul, li {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #2e353b;
}

p {
	line-height: 1.7;
}

div.header-text small {
	font-size: 14px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media screen and (min-width: 768px) {
	.container {
		width: calc(100% - 30px);
	}
}

body {
  font-family: Roboto,sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #828282;
	background-color: #f3f3f3;
}

a, a:focus, a:hover {
  color: #2196F3;
  text-decoration: none;
	// background-color: transparent;
}

/* Clearfix */

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

/*---------------Header-------------------*/

/* Top-Header */

#header {
	box-shadow: 0 0 20px rgba(0,0,0,.3);
  background-color: #3F51B5;
}

.header-top {
	background-color: #3949AB;
}

.top-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.top-nav>li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

.top-nav>li>a, .top-nav>li>span {
  padding: 12px;
  display: block;
  color: #fff;
  font-size: 13px;
}

.top-nav>li>span>a {
	color: #fff;
}

.top-nav>li>a:hover {
  background-color: rgba(0,0,0,.08);
}

.top-nav>li>a>.fa, .top-nav>li>span>.fa {
  font-size: 18px;
  vertical-align: top;
}

.top-nav>li:not(.top-nav-icon)>span>.fa {
    margin-right: 10px;
}

/* MainHeader */

.header-main {
	padding: 32px 0;
}

a.logo {
	color: #f5f5f5;
}

.logo i {
	font-size: 50px;
	float: left;
	margin-right: 12px;
}

.logo-text {
  float: left;
  color: #fff;
  padding-top: 3px;
}

.logo-text span:first-child {
	font-size: 20px;
	font-weight: 500;
}

.logo-text span:last-child {
	display: block;
	opacity: .5;
	margin-top: -2px;
}

@media screen and (max-width: 767px) {
	.header-main {
		padding: 32px 10px;
	}
}

/* Navigation trigger */

.nav-opened, .block-opened {
	overflow: hidden;
}

.navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
}

.navigation>li {
	display: inline-block;
  vertical-align: top;
  padding: 0;
}

.navigation>li>a {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
}

.navigation-close {
  font-size: 22px;
  text-align: right;
}

.navigation>li>a:not(.navigation-close) {
	font-size: 15px;
}

.nav-drop-menu {
	list-style: none;
}

.nav-drop-menu:hover {
	display: block;
}

@media screen and (max-width: 991px) {
	.navigation-trigger {
		margin-top: 10px;
		font-size: 21px;
		color: #fff;
		float: right;
		cursor: pointer;
	}
}

@media screen and (max-width: 991px) {
	.navigation.toggled {
	  right: 0;
	}
}

@media screen and (max-width: 991px) {
	.navigation {
		max-width: 300px;
		width: 90%;
		background-color: #fff;
		position: fixed;
		height: 100%;
		top: 0;
		right: -320px;
		z-index: 99;
		box-shadow: 0 0 30px rgba(0,0,0,.1);
		-webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    overflow: auto;
	}

	.navigation>li {
		display: block;
	}

	.navigation>li:nth-child(2) {
		/*margin-bottom: 20px;*/
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
	}

	.navigation>li.login-li {
		border-bottom: 1px solid gray;
	}

	.navigation>li>a {
		color: #2e353b;
		padding: 13px 30px;
	}

	.navigation>li.active>a {
    color: #2e353b;
    background-color: #eee;
	}

	.nav-drop-menu {
		display: block!important;
    opacity: 1!important;
    filter: alpha(opacity=100)!important;
    padding: 0 30px;
    margin-bottom: 20px;
	}

	.nav-drop-menu>li>a {
		display: block;
    color: #929292;
    font-size: 14px;
    padding: 8px 0;
	}
}

@media screen and (min-width: 992px) {
	.nav-drop {
		position: relative;
	}

	.navigation>li.active>a {
		color: #FFEE58;
	}

	.navigation>li>a {
		color: rgba(255,255,255,.8);
    padding: 10px 13px 10px;
	}

	.navigation>li>a.login {
		border: 2px solid #fff;
		border-radius: 5px;
	}

	.navigation>li:not(.active):hover>a {
		color: #fff;
	}

	.navigation>li>a.login:hover {
		color: #FFEE58;
		border-color: #FFEE58;
	}

	.nav-drop:hover>a {
		background-color: #303F9F;
		border-radius: 2px 2px 0 0;
		padding-left: 20px;
		padding-right: 20px;
		-webkit-transition: .3s;
		-o-transition: .3s;
		transition: .3s;
	}

	.nav-drop-menu {
		position: absolute;
		background-color: #303F9F;
		z-index: 11;
		left: 0;
		border-radius: 0 2px 2px;
		min-width: 170px;
		box-shadow: 0 4px 5px rgba(0,0,0,.1);
    display: none;
	}

  .nav-drop-menu.nav-drop-menu-right {
    left: auto;
    right: 0;
    border-radius: 2px 0 2px 2px;
  }

	.nav-drop-menu>li:first-child {
		margin-top: 10px;
	}

	.nav-drop-menu>li>a {
		display: block;
    color: rgba(255,255,255,.8);
    padding: 9px 20px;
	}

	.nav-drop-menu>li>a:hover {
		background-color: rgba(0,0,0,.08);
		color: #fff;
	}
}

/*ul.navigation li.btn-default {
	background-color:
}*/

/* Header Search */

.header-search {
	padding-top: 35px;
	padding-bottom: 35px;
	position: relative;
	z-index: 10;
	max-width: 650px;
	margin: 0 auto;
}

.search {
	position: relative;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.08);
}

.search-type {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 2;
}

.search-type .dropdown-menu, .search-type.open>a, .search-type>a:hover {
  background-color: #FDD835;
}

.search-type>a:hover {
	background-color: #FDD835;
}

.search-type>a {
  background-color: #FFEB3B;
  height: 100%;
  padding: 17px 0 0 19px;
  border-radius: 2px 0 0 0;
  -webkit-transition: background-color;
  -o-transition: background-color;
  transition: background-color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  width: 72px;
  font-size: 13px;
	display: block;
  color: #3e3e3e;
  font-weight: 500;
  text-transform: uppercase;
}

.search-type .dropdown-menu {
  top: 50px;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 6px 10px rgba(0,0,0,.2);
  min-width: 120px;
  width: 120px;
	border: 0;
	margin: 0;
}

.search-type .dropdown-menu>div {
  position: relative;
  cursor: pointer;
}

.search-type .dropdown-menu>div>input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 1;
  margin: 0;
  cursor: pointer;
}

.search-type .dropdown-menu>div>span {
  padding: 7px 18px;
  font-size: 12px;
}

.search-type>a {
	width: 92px;
	font-weight: 800 !important;
}

.search-type .fa {
	margin-left: 6px;
}

.search-type .dropdown-menu>div>span, .search-type>a {
  display: block;
  color: #3e3e3e;
  font-weight: 500;
  text-transform: uppercase;
}

.search-body {
  position: relative;
  padding-left: 90px;
  overflow: hidden;
}

.search-body.toggled {
	overflow: visible;
}

.search-input {
  border: 0;
  height: 50px;
  font-size: 14px;
  padding: 1px 20px 0;
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
}

:focus {
	outline: 0;
}

.search-body.toggled .search-advanced {
  -webkit-transform: translate3d(0,-1px,0);
  transform: translate3d(0,-1px,0);
  opacity: 1;
  filter: alpha(opacity=100);
}

@media screen and (max-width: 767px) {
	.search-advanced {
		left: 0;
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.search-advanced {
		left: 92px;
    width: calc(100% - 92px);
	}
}

.search-advanced {
  position: absolute;
  background-color: #fff;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 10px 12px rgba(0,0,0,.3);
  z-index: 1;
  padding: 20px 23px 35px;
  border-top: 1px solid #eee;
  -webkit-transform: translate3d(0,30px,0);
  transform: translate3d(0,30px,0);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.search-advanced .form-group-float {
  margin-top: 24px;
}
.form-group {
  position: relative;
  margin-bottom: 32px;
}

.form-control, .form-control:focus {
  box-shadow: none;
}
.form-control {
  width: 100%;
  height: 35px;
  padding: 8px 13px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #eee;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control {
  padding-left: 2px;
  padding-right: 2px;
  resize: none;
  /*border-left: 0;
  border-top: 0;
  border-right: 0;*/
}

.form-control, output {
  font-size: 13px;
  line-height: 1.42857143;
  color: #2e353b;
  display: block;
}

.form-group-float:before, .form-group>label {
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.form-group-float>label {
  top: 9px;
  left: 0;
  position: absolute;
  font-size: 13px;
}

.form-group-active>label, .form-group-float .form-control:focus~label {
  top: -19px;
  font-size: 11px;
}
.form-group>label {
  font-weight: 400;
  pointer-events: none;
  padding-left: 2px;
  width: 100%;
  font-size: 13px;
  margin-bottom: 8px;
  color: #8a8a8a;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}
dt, label {
  font-weight: 700;
}


.search-type .dropdown-menu>div:hover {
  background-color: rgba(0,0,0,.05);
}
.select2-hidden-accessible {
	width: 100%;
	height: 35px;
  /*border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;*/
}

.price-in {
	display: inline-block;
}

.price-in small {
	display: block;
}

.range {
	height: 35px;
	width: 110px;
}

.search-advanced a {
	color: #fff;
	padding: 8px 30px;
  background-color: #2196F3;
  border-radius: 3px;
  text-transform: uppercase;
}
/* Header Recommended */

.header-recommended {
	padding-top: 30px;
	padding-bottom: 50px;
}

.my-location {
  margin-bottom: 20px;
  text-align: center;
}

.my-location-title {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
}

.header-recommended .listings-grid {
  margin: 0 auto;
  max-width: 1300px;
}

@media screen and (min-width: 700px) {
	.header-recommended .listings-grid {
    padding: 0 70px;
	}
}

.header-recommended .listings-grid-item {
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    margin: 0 12px 0 13px;
}




.listings-grid-item {
  background-color: #fff;
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -webkit-transition: background-color;
  -o-transition: background-color;
  transition: background-color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.listings-grid-item:hover {
	background-color: #fffdee;
}

.listings-grid .listings-grid-main {
  position: relative;
}
.header-recommended .listings-grid-main {
  border: 3px solid #fff;
}


.listings-grid-main>img {
  width: 100%;
  -webkit-transition: opacity;
  -o-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}
.slick-slide img {
  display: block;
}
img {
  vertical-align: middle;
}
hr, img {
  border: 0;
}

.listings-grid .listings-grid-price {
  bottom: 0;
  left: 0;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
  background-image: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
  background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
  width: 100%;
  color: #fff;
  padding: 30px 20px 15px;
  font-size: 17px;
}
.listings-grid-price {
  position: absolute;
  font-weight: 500;
}

.listings-grid-body {
  padding: 18px 20px 13px;
}

.listings-grid-body>small {
  color: #9c9c9c;
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 16px;
}

.listings-grid-body>h5, .listings-grid-body>small {
  overflow: hidden;
}
.listings-grid-body>h5 {
  font-size: 13px;
  margin: 0 0 5px;
}

.listings-grid-attrs {
  margin: 0;
  list-style: none;
  padding: 13px 12px 13px 18px;
  border-top: 1px solid rgba(0,0,0,.04);
}

.listings-grid-attrs>li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  color: #828282;
  margin-right: 13px;
}

.listings-grid-icon {
	font-size: 18px;
}

.listings-grid-favorite {
  position: absolute;
  z-index: 1;
  bottom: 6px;
  right: 10px;
}

@media screen and (max-width: 767px) {
	.header-recommended {
		padding-top: 10px;
		padding-bottom: 30px;
	}
}


/* Arrows */

.header-recommended .slick-arrow:not(.slick-disabled):hover {
  background: rgba(0,0,0,.2);
}
.header-recommended .slick-prev {
  left: 22px;
}

.header-recommended .slick-next {
    right: 22px;
}

.header-recommended .slick-arrow, .header-recommended .slick-arrow:before {
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.header-recommended .slick-arrow {
  position: absolute;
  font-size: 0;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  border: 0;
  background: rgba(0,0,0,.1);
  top: 50%;
  margin-top: -20px;
  text-align: center;
}

.slick-dots {
	bottom: -25px;
}

/*--------------------------------------- Section -------------------------------------------------*/
.section-title {
  margin-bottom: 35px;
  position: relative;
}

.section-title:not(.text-left) {
  text-align: center;
}

.section-title h2 {
  font-size: 19px;
  color: #676767;
  margin: 0;
  font-weight: 400;
  line-height: 140%;
}

.card:not([class*=mdc-bg-]) {
  background: #fff;
}
.card {
  position: relative;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  margin-bottom: 25px;
  border-radius: 2px;
  display: block;
}

.card-header {
    position: relative;
    border-radius: 2px 2px 0 0;
}
.card-header, .card-img {
    display: block;
}

.card-header h2 {
  font-size: 17px;
}
.card-header h1, .card-header h2 {
  margin: 0;
  font-weight: 400;
}

.card-header small {
  display: block;
  margin-top: 5px;
  color: #9c9c9c;
  line-height: 160%;
  font-size: 13px;
}

.grid-widget [class*=col-] {
  padding: 0;
}
.col-xs-6 {
  width: 50%;
}

.grid-widget-item {
  display: block;
  overflow: hidden;
  position: relative;
}

.grid-widget-item>img {
  width: 100%;
  display: block;
}

.grid-widget-info {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 15px 17px 14px;
  background-color: rgba(0,0,0,.4);
  border-radius: 0 0 3px 3px;
}

.grid-widget-info>h3 {
  margin: 0 0 3px;
  font-size: 17px;
}

.grid-widget-info>small {
  font-size: 12px;
  display: block;
}

.grid-widget-info>h3, .grid-widget-info>h4, .grid-widget-info>small {
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.view-more, .view-more>i {
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
	font-size: 15px;
}
.view-more {
  padding: 18px 15px;
  text-align: center;
}
.section-title small, .view-more {
  color: #9c9c9c;
  display: block;
}

#header-alt:after, .action-header:after, .grid-widget:after, .groups-grid-listing .groups-grid-item:after, .list-group-block:after, .team-item:after {
  clear: both;
}

/*.grid-widget:after, .grid-widget:before {
  content: " ";
  display: table;
}*/

@media screen and (max-width: 991px) {
	.section {
		padding-bottom: 40px;
	}

	.card-header {
	  padding: 25px;
	}
}

@media screen and (min-width: 992px) {
	.section {
	  padding-bottom: 60px 0;
	}

	.card-header {
	  padding: 30px 35px;
	}
}

/*--------------------------------------- Footer -------------------------------------------------*/

#footer {
	background-color: #3949AB;
  box-shadow: 0 0 20px rgba(0,0,0,.3);
  clear: both;
}

#footer, .footer-block a {
  color: rgba(255,255,255,.8);
}

.f-14 {
  font-size: 14px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-t-20 {
  margin-top: 20px;
}
address {
  line-height: 1.42857143;
}
.table, address {
  margin-bottom: 18px;
}
.tooltip, address {
  font-style: normal;
}

.card-header h1, .f-20 {
  font-size: 14px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-r-10 {
  margin-right: 10px;
	font-size: 20px;
}

.footer-title {
  color: #fff;
  font-size: 15px;
  border-bottom: 1px solid rgba(255,255,255,.06);
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.footer-block-blog>a:not(:last-child) {
  margin-bottom: 20px;
}
.footer-block-blog>a, .footer-block-blog>a>small {
  overflow: hidden;
}
.footer-block-blog>a {
  border-radius: 2px;
  display: block;
  -webkit-transition: color;
  -o-transition: color;
  transition: color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.footer-bottom {
  background-color: rgba(0,0,0,.1);
  padding: 25px 20px;
  position: relative;
}

.footer-bottom a {
  color: rgba(255,255,255,.6);
}

@media screen and (max-width: 767px) {
	.footer-bottom {
		text-align: center;
	}
	.footer-copyright {
		display: block;
		margin-bottom: 20px;
		margin-top: 30px;
	}
	.footer-bottom a:not(:last-child) {
		border-bottom: 1px solid rgba(255,255,255,.03);
	}
	.footer-bottom a {
    display: block;
    padding: 10px 0;
	}
}

@media screen and (min-width: 768px) {
	#footer {
		padding-top: 50px;
	}

	.footer-bottom {
		margin-top: 35px;
	}

	.footer-copyright {
		margin-right: 30px;
	}

	.footer-bottom a {
		margin-right: 10px;
	}
}


/*--------------------------------------- Show page -------------------------------------------------*/

/*------ Header -------*/

.section-show header {
	overflow: hidden;
}

.section-show .header-text {
	float: left;
}

.section-show div.actions-section {
	float: right;
	margin-top: 0;
}

.section-show {
	padding: 25px 0px;
	padding-bottom: 40px;
}

@media screen and (min-width: 992px) {
	.section-show {
		padding-bottom: 60px;
	}
}

.section_title {
	margin-bottom: 10px;
	position: relative;
}

@media screen and (max-width: 767px) {
	.section_title_agent {
		text-align: center;
	}
}

.section_title h2 {
	font-size: 19px;
	color: #676767;
  margin: 0;
  font-weight: 400;
  line-height: 140%;
}

.section_title .actions-section {
	display: block;
	margin-top: 12px;
	margin-bottom: 0px;
	position: relative;
}

.actions>a {
	padding-top: 5px;
	display: inline-block;
	vertical-align: top;
	/*width: 30px;
	height: 30px;*/
	text-align: center;
}

.actions-section i, .actions-section a {
	font-size: 16px;
}

.actions-section a {
	padding: 8px;
	border: 1px solid gray;
	border-radius: 5px;
	color: gray;
}

.actions-section a:hover {
	color: #FDD835;
	background-color: #736c6c;
}

@media screen and (min-width: 768px) {
	.section_title .header-text {
		display: inline-block;
	}

	.section_title .actions-section {
		float: right;
		margin-top: 0px;
	}
}


/*------ row, card -------*/

.card {
  position: relative;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  margin-bottom: 25px;
  border-radius: 2px;
  display: block;
}

.detail-media {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.carousel img.resp {
	width: 100%;
	min-height: 247px;
  max-height: 421px;
}

.detail-info-header {
	border-radius: 2px 2px 0 0;
	padding: 26px 28px 23px;
	position: relative;
}

.detail-info h4 {
	padding: 26px 28px 23px;
}

@media screen and (max-width: 991px) {
	.detail-info-header, .detail-info h4 {
		padding: 20px 25px 15px;
	}
}

.detail-info-header strong {
  color: #2e353b;
  font-size: 20px;
  line-height: 100%;
  margin-right: 15px;
}

strong {
	font-weight: 500;
}

.detail-info-header small {
  font-size: 14px;
  position: relative;
  top: -2px;
  color: #9c9c9c;
}

.detail-info-header span {
	float: right;
	background-color: #585858;
	color: #fff;
	font-size: 11px;
	padding: 4px 10px;
	border-radius: 2px;
	margin-top: -2px;
	text-transform: uppercase;
}

@media screen and (max-width: 991px) {
	.detail-info-header small {
		display: block;
		margin-top: 10px;
	}
	.detail-info-header span {
		position: absolute;
		top: 20px;
		right: 25px;
	}
}

.detail-amenities-list, .detail-info-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.detail-info-list>li {
	width: 50%;
	float: left;
	padding: 15px 30px;
	border-top: 1px solid #f5f5f5;
}

@media screen and (max-width: 991px) {
	.detail-info-list>li {
		padding: 10px 25px;
	}
}

.detail-amenities-list>li {
	padding: 8px 15px;
	color: #fff;
	border-radius: 2px;
	margin: 0 1px 4px 0;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12px;
}

.detail-amenities-list>li, .detail-info-list>li {
  display: inline-block;
  vertical-align: top;
}

.detail-info-list>li>span:first-child {
  display: inline-block;
  font-weight: 500;
  color: #2e353b;
  width: 110px;
}

@media screen and (max-width: 991px) {
	.detail-info-list>li>span:last-child {
	  display: block;
	  margin-top: 3px;
	}
}


.card-header+.card-body {
	padding-top: 0;
}

@media screen and (max-width: 991px) {
	.card-body, .card-footer {
		padding: 20px 25px;
	}
}

@media screen and (min-width: 992px) {
	.card-body, .card-footer {
		padding: 30px 35px;
	}
}

.color1 {
	background-color: #E57373;
}
.color2 {
	background-color: #BA68C8;
}
.color3 {
	background-color: #F06292;
}
.color4 {
	background-color: #03A9F4;
}
.color5 {
	background-color: #FFCA28;
}
.color6 {
	background-color: #26A69A;
}
.color7 {
	background-color: #8BC34A;
}
.color8 {
	background-color: #8D6E63;
}
.color9 {
	background-color: #78909C;
}

/*----- Side form ------*/

@media screen and (max-width: 991px) {
	.sidebar-mobile {
		position: fixed;
		top: 0;
		right: -365px;
		padding: 0 0 85px;
		height: 100%;
		width: 350px;
		background: #fff;
		box-shadow: 0 0 30px rgba(0,0,0,.1);
		z-index: 100;
		overflow-y: auto;
		opacity: 0;
		-webkit-transition: all;
		-o-transition: all;
		transition: all;
		-webkit-transition-duration: .3s;
		transition-duration: .3s;
	}

	.sidebar-mobile .card {
		box-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 80px;
	}

	.sidebar-mobile .card .card-footer {
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 0;
	}
}

@media screen and (max-width: 991px) {
	.sidebar-mobile.toggled {
		right: 0;
		opacity: 1;
	}
}

.inquire-number {
	display: inline-block;
	background-color: #EF5350;
	color: #fff;
	font-size: 16px;
	padding: 13px 25px 11px;
	border-radius: 2px;
	font-weight: 500;
	margin-bottom: 35px;
}

.inquire-number>i {
	font-size: 25px;
	vertical-align: middle;
	margin: -5px 5px 0 0;
}

.text-muted {
	color: #9c9c9c;
}

.btn, .label {
	text-transform: uppercase;
}
.btn-primary, .btn-primary:hover {
  color: #fff;
  background-color: #2196F3;
  border-color: #0d8aee;
}

.list-group {
	margin-bottom: 0;
}

.list-group, .media-list {
	padding-left: 0;
}

.list-group .list-group-item {
  border: 0;
  margin: 0;
  padding: 13px 30px;
}

.list-group-item {
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: transparent;
  border: 1px solid #f7f7f7;
	position: relative;
	display: block;
}

.list-group-item:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.media>.pull-left {
  padding-right: 15px;
}

.list-group-img {
	width: 65px;
	height: 65px;
	margin-right: 3px;
}

.media-body {
  zoom: 1;
  display: block;
  width: auto;
}

.list-group-text>strong {
  display: block;
  color: #2e353b;
  margin-bottom: 4px;
  font-size: 13px;
  font-weight: 400;
}

.list-group-text>small, .list-group-text>strong {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-group-text>small {
  display: block;
  font-size: 12px;
  color: #9c9c9c;
}

.btn {
  // border: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-action {
  background-color: #F44336;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 20;
}

.btn-circle {
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 52px;
  font-size: 20px;
	color: #fff;
  padding: 0;
}
.btn-circle:hover {
	color: #fff;
}

/*--------------------------------------- Agent page -------------------------------------------------*/

.profile-img>img {
	width: 178px;
	float: left;
	border: 5px solid #fff;
}

.profile-info {
	padding: 30px 25px;
	overflow: hidden;
}

.label {
  border-radius: 1px;
  padding: 3px 8px;
  font-size: 11px;
}

.contact-list {
	list-style: none;
	padding: 0;
	margin-top: 20px;
}

.contact-list>li:not(:last-child):not(.contact-list-title) {
  margin-bottom: 10px;
}

.contact-list>li {
	position: relative;
	padding-left: 30px;
}

.contact-list>li>i {
  width: 18px;
  text-align: center;
  font-size: 17px;
  top: 2px;
  position: relative;
  margin: 0 10px 0 -30px;
}

@media screen and (max-width: 767px) {
	.profile {
		margin-top: 20px;
	}

	.profile-img {
		position: absolute;
		left: 50%;
		margin: -35px 0 0 -65px;
	}

	.profile-img>img {
		width: 130px;
		border-radius: 50%;
		box-shadow: 0 -1px 15px rgba(0,0,0,.09);
	}

	.profile-info {
		padding-top: 125px;
		text-align: center;
	}

	.contact-list {
		border-top: 1px solid #f7f7f7;
		margin-top: 20px;
		padding-top: 20px;
	}

	.listings-list {
		border-radius: 3px 3px 2px 2px;
	}
}

.listings-list-alt .listings-grid-item:not(:last-child) {
	border-bottom: 1px solid #eee;
}

.listings-list-alt .listings-grid-item {
	padding: 20px;
	margin: 0;
	box-shadow: none;
	border-radius: 0;
}

/* Previous overflow: visible; problem */
.media {
	margin: 0;
}


.listings-grid-main.pull-left {
  padding-right: 0;
}

.listings-list-alt .listings-grid-main>img {
  border-radius: 2px;
}

.listings-list-alt .listings-grid-main .listings-grid-price {
  border-radius: 0 0 3px 3px;
}

.listings-list .listings-grid-price {
  color: #2e353b;
  font-weight: 700;
}

.listings-grid-body {
  padding: 18px 20px 13px;
}

.listings-grid-body>h5, .listings-grid-body>small {
  overflow: hidden;
}

.listings-grid-body>small {
  color: #9c9c9c;
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 16px;
}

.listings-grid-body>h5 {
  font-size: 13px;
  margin: 0 0 5px;
}

.listings-grid-attrs {
  margin: 0;
  list-style: none;
  padding: 13px 12px 13px 18px;
  border-top: 1px solid rgba(0,0,0,.04);
}

.listings-list-alt .listings-grid-attrs {
  padding: 0 0 0 20px;
  border: 0;
}

.listings-grid-attrs>li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  color: #828282;
  margin-right: 13px;
}

.listings-grid-attrs i {
	font-size: 18px;
}


@media screen and (max-width: 767px) {
	.listings-list .listings-grid-main, .listings-list .media-body {
    width: 100%;
	}

	.listings-list-alt .listings-grid-attrs, .listings-list-alt .listings-grid-body {
    padding-left: 0;
    padding-right: 0;
	}
}

@media screen and (min-width: 768px) {
	.listings-list.listings-list-alt .listings-grid-main {
    width: 225px;
	}

	.listings-grid-body>small {
		font-size: 16px;
	}
	.listings-grid-body>h5 {
		font-size: 12px;
	}
}

@media screen and (min-width: 992px) {
	.listings-list .listings-grid-price {
    color: #2e353b;
    font-weight: 700;
		top: 18px;
		right: 22px;
		font-size: 15px;
	}
}

@media screen and (max-width: 991px) {
	.listings-list .listings-grid-main {
		position: relative;
	}

	.listings-list .listings-grid-main .listings-grid-price {
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
    width: 100%;
    color: #fff;
    padding: 30px 20px 15px;
    font-size: 15px;
	}
}

.m-t-10 {
	margin-top: 10px;
}


/*--------------------------------------- Search results page -------------------------------------------------*/

@media screen and (min-width: 768px) {
	.listings-list:not(.listings-list-alt) .listings-grid-main {
    width: 225px;
    border: 3px solid #Fff;
	}
}

.subscribe {
  padding: 40px 30px 30px;
  text-align: center;
}

.mdc-bg-light-blue {
  background-color: #03A9F4;
}

.subscribe-icon {
  color: #fff;
  font-size: 45px;
}

.subscribe h2 {
  font-size: 16px;
  color: #fff;
	margin-top: 18px;
	margin-bottom: 9px;
}

.subscribe small {
  font-size: 13px;
  color: rgba(255,255,255,.7);
  display: block;
  margin-bottom: 20px;
}

.form-group-light .form-control {
  /*border-bottom-color: rgba(255,255,255,.25);*/
  color: #fff;
  font-weight: 500;
}

.subscribe small {
	margin-bottom: 40px;
}

.form-group-light>label {
	color: #fff;
}

.subscribe .btn-circle {
  box-shadow: none;
  background-color: #fff;
}

.mdc-text-light-blue {
  color: #03A9F4;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

// New property form styles

form.new_property label {
	display: block;
}

// form Agents
/* forms */

.signup-form input, .signup-form textarea, .signup-form select, .signup-form .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.signup-form input {
  // height: auto !important;
  // height: 35px;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
}

.signup-form {
  margin-top: 25px;
  margin-bottom: 25px;
}

.signup {
  margin-bottom: 20px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  // margin-top: -10px;
  margin-bottom: 15px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me, #session_user_remember_me {
  width: auto;
  margin-left: 0;
}

// Image

#header-image {
  width: 25px;
  border-radius: 50%
}

/* Users index */

.agents {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    img {
      width: 70px;
    }
  }
}




/*--------------------------------------- Private agent show page -------------------------------------------------*/

#header-alt {
  background-color: #3F51B5;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
  width: 100%;
  z-index: 10;
  height: 70px;
  padding: 0 30px;
}

#header-alt {
  position: fixed;
  top: 0;
  left: 0;
}

.header-alt-trigger {
  height: 70px;
  float: left;
  padding: 25px 30px;
  margin-left: -30px;
}

.header-alt-trigger>i {
  color: #fff;
  font-size: 24px;
}

.header-alt-menu {
  padding: 0;
  list-style: none;
  margin: 15px 0 0;
  float: right;
}

.header-alt-menu>li {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}

.header-alt-menu>li:not(.header-alt-profile)>a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 45px;
  margin-left: 4px;
  border-radius: 50%;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.header-alt-menu>li>a {
  display: block;
  color: #fff;
}

.header-alt-menu>li:not(.header-alt-profile).open>a, .header-alt-menu>li:not(.header-alt-profile)>a:hover {
  background: rgba(0,0,0,.15);
  color: #fff;
}

.header-alt-menu>li>a>i {
  font-size: 25px;
	margin-top: 7px;
}

.header-alt-profile {
  margin-left: 10px;
}

.header-alt-profile>a>img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255,255,255,.2);
  -webkit-transition: box-shadow;
  -o-transition: box-shadow;
  transition: box-shadow;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.header-alt-profile>a:hover>img {
  box-shadow: 0 0 0 3px rgba(255,255,255,.4);
}



.dropdown-menu-agent:before {
   position: absolute;
   top: -7px;
   left: 9px;
   display: inline-block;
   border-right: 7px solid transparent;
   border-bottom: 7px solid #CCC;
   border-left: 7px solid transparent;
   border-bottom-color: rgba(0, 0, 0, 0.2);
   content: '';
 }


/*dropdown-menu triangle*/
.dropdown-menu-agent:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
  }

.dropdown-menu-agent:before, .dropdown-menu-agent.pull-right:before {
right: 12px;
left: auto;
}

.dropdown-menu-agent::after, .dropdown-menu-agent.pull-right:after {
right: 13px;
left: auto;
}

/**/

.header-alt-menu>li .dropdown-menu {
  top: 48px;
}

.dropdown-menu>li>a {
  display: block;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #2e353b;
  white-space: nowrap;
  padding: 10px 20px;
  -webkit-transition: background-color;
  -o-transition: background-color;
  transition: background-color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

@media screen and (min-width: 1200px) {
	#main {
		padding-left: 250px;
	}
}

#main {
	padding-top: 70px;
}


#main-sidebar {
  width: 250px;
  position: fixed;
  z-index: 2;
  left: 0;
  background: #fff;
  overflow: auto;
}


@media screen and (max-width: 1199px) {
	#main-sidebar {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translate3d(-270px,0,0);
    transform: translate3d(-270px,0,0);
    opacity: 0;
    filter: alpha(opacity=0);
    top: 0;
    height: 100%;
    z-index: 101;
	}

	#main-sidebar.toggled {
	  -webkit-transform: translate3d(0,0,0);
	  transform: translate3d(0,0,0);
	  opacity: 1;
	  filter: alpha(opacity=100);
	}

	#main-sidebar.toggled .main-block-close>i {
    left: 0;
    opacity: 1;
	}
}

.main-block-close {
	color: #fff;
	display: block;
  height: 70px;
  background: #3F51B5;
  /*margin-bottom: 20px;*/
}

.main-block-close>i {
  font-size: 20px;
  width: 37px;
  height: 37px;
  background: rgba(255,255,255,.15);
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  margin: 17px 22px;
  position: relative;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: left;
  -o-transition: left;
  transition: left;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
  left: -70px;
}

.main-block-close:hover {
	color: #fff;
}

.main-menu {
  list-style: none;
  padding: 0;
}

.main-menu>li>a {
  padding: 14px 20px 14px 65px;
  display: block;
  font-weight: 600;
  position: relative;
  color: #4C4C4C;
}

.main-menu a {
  transition: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.main-menu>li>a>i {
  position: absolute;
  left: 25px;
  font-size: 20px;
  top: 0;
  width: 25px;
  text-align: center;
  padding: 13px 0;
}

.main-menu>li.active>a, .main-menu>li>a:hover {
  background-color: #f7f7f7;
}

@media screen and (min-width: 1199px) {
	#main-sidebar {
    height: calc(100% - 70px);
    top: 70px;
	}
}

.main-menu>.alt-profile-img {
	background-color: #ececec;
}

.main-menu>.alt-profile-img>a {
	padding: 30px;
  text-align: center;
}

.main-menu>.alt-profile-img>a>img {
	width: 70px;
	height: 70px;
	padding: 5px;
	background-color: #dadada;
}


/*Section*/


#main-content {
	position: relative;
}

.action-header-alt {
  box-shadow: none;
  background-color: #eaeaea;
  padding: 12px 20px;
  z-index: 1;
  left: 0;
  width: 100%;
  position: fixed;
}

.action-header-item {
	display: inline-block;
}

.action-header-add {
	float: right;
	padding-top: 1px;
}

.btn-danger {
	background-color: #F44336;
	padding: 8px 10px;
}

@media screen and (max-width: 991px) {
	.action-header-alt {
		position: absolute;
		top: 0;
	}
}

.main-container {
	width: 100%;
	margin: auto;
}

.main-container:not(.main-container-sm) {
	max-width: 1200px;
}

@media screen and (max-width: 767px) {
	.main-container {
		padding: 100px 15px 50px;
	}
}

@media screen and (min-width: 768px) {
	.main-container {
		padding: 100px 40px;
	}
}

.main-title {
  margin-bottom: 30px;
  padding: 0 30px;
  position: relative;
}

.main-title h2 {
  font-size: 15px;
  color: #676767;
  margin: 0;
  font-weight: 400;
	text-transform: uppercase;
}

.list-group-block:not([class*=mdc-bg-]) {
  background: #fff;
}

.list-group-block {
  position: relative;
  margin-bottom: 25px;
  border-radius: 2px;
  display: block;
}

.list-group-header {
  padding: 20px 30px 18px;
  line-height: 100%;
  border-bottom: 1px solid #f6f6f6;
  font-weight: 500;
  color: #6F7071;
  margin-bottom: 10px;
}

.list-group-block .list-group-item {
  padding: 22px 25px;
}

.list-group-block .list-group-item:not(:last-child) {
  border-bottom: 1px solid #f7f7f7;
}

.media>.pull-left {
  padding-right: 15px;
}

@media screen and (max-width: 991px) {
	.list-group-label-float {
		padding-top: 15px;
	}
}

@media screen and (min-width: 992px) {
	.list-group-label-float {
    position: absolute;
    top: 50%;
    right: 50px;
    margin-top: -16px;
	}
}

.list-group-label>a, .list-group-label>span {
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  padding: 6px 15px 7px;
  font-weight: 500;
}

.list-group-label>span.delete {
	background-color: #ea5a51;
}

.list-group-label>span.edit {
	background-color: #44a967;
}

#footer-alt {
  padding: 25px;
  text-align: center;
  border-top: 1px solid #eaeaea;
  clear: both;
}

#footer-alt, #footer-alt a {
  color: #a2a2a2;
}

.footer-alt-menu {
  padding: 0;
  margin: 5px 0 0;
  list-style: none;
  display: block;
}

.footer-alt-menu>li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

.footer-alt-menu>li>a {
  display: block;
  padding: 5px 8px;
}

.delete-account-btn {
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
}

.default_image {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  left: 135px;
  bottom: 15px;
  border: 2px solid cornflowerblue;
}

#hidden {
  display: none;
}


//  Home search

#header .header-search .property-status-wrapper {
  margin-bottom: 15px;
  overflow: hidden;
}

#header .header-search .property-status-wrapper .radio {
  float: left;
  width: 50%;
  margin: 0;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 0 0 2px;
}

#header .header-search .property-status-wrapper .radio:first-child {
  padding: 0;
}

#header .header-search .property-status-wrapper .radio input[type="radio"] {
  opacity: 0;
}

#header .header-search .property-status-wrapper .radio input[type="radio"]:checked+label {
  font-weight: 700;
}

#header .header-search .property-status-wrapper .radio label {
  border-radius: 2px;
  background-color: rgba(0,0,0,0.65);
  display: block;
  position: relative;
  color: #fff;
  padding: 15px 0 10px;
  cursor: pointer;
  border-bottom: 5px solid transparent;
}

#header .header-search .property-status-wrapper .radio input[type="radio"]:checked+label, #header .header-search .property-status-wrapper .radio label:hover {
  background-color: black;
  border-color: #d92228;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

#header .header-search .search-input-group {
  background-color: rgba(255,255,255,0.9);
}

#header .header-search .search-input-group input[type="text"] {
  width: 100%;
  font-size: 16px;
  padding: 2px 0 0 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.facet-search-wrapper .search-input-group input[type="text"] {
  width: 100%;
  height: 32px;
}

.facet-search-wrapper .search-input-group span.input-group-btn button {
  padding: 0 20px;
  height: 32px;
}

.input-group-btn {
  display: table-cell;
}

.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.search-input-group .btn-primary {
  padding: 0 30px;
}

.search-input-group button {
  border-radius: 0;
}

.search-input-group button.btn-primary:hover {
  background-color: #2196F3;
}

.search-input-group input, .search-input-group button {
  height: 48px;
  font-size: 18px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0 none;
}

#header .header-search input[type="submit"] {
  display: none;
}

.listings-list div.pagination {
  display: block;
  text-align: center;
}


// index fixed navbar

.facet-bar {
  background-color: #f7f7f7;
  border-width: 0;
  margin-bottom: 0;
  z-index: 10;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
}

.facet-bar.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}


.navbar {
  position: relative;
  min-height: 48px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.facet-bar .facet-location {
  // right: 75px;
  float: left;
}

@media screen and (max-width: 767px) {
  .facet-bar .facet-location {
    position: absolute;
    left: 10px;
    // right: 75px;
    top: 0px;
  }
}

.facet-bar .facet-search-wrapper {
  margin: 8px 15px 8px 0;
  position: relative;
}

.search-input-group .form-control {
  padding: 8px 13px;
  background-color: #fff;
}

.facet-bar .facet-search-wrapper .search-input-group {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .facet-bar .facet-search-wrapper .search-input-group {
    width: 190px;
  }
}
@media screen and (min-width: 992px) {
  .facet-bar .facet-search-wrapper .search-input-group {
    width: 290px;
  }
}

@media screen and (max-width: 767px) {
  .facet-bar .facet-options-list {
    float: none;
  }

  .facet-options-list .facet-prop-status, .facet-options-list .facet-price, .facet-options-list .facet-bd, .facet-options-list .facet-ba, .facet-options-list .facet-sale, .facet-options-list .facet-property-type {
    display: none;
  }
}

.facet-options-list>li {
  float: left;
  border-left: 1px solid #ddd;
}

.facet-options-list>li>a {
  padding: 14px 10px;
  color: #333;
}

.facet-options-list>li>.dropdown-menu {
  margin-top: 0;
  border: none;
  white-space: nowrap;
  border-radius: 0;
  min-width: 100%;
}

@media screen and (max-width: 995px) {
  .facet-bar .facet-options-list>li>.dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  }
}

.facet-price-form {
  width: 300px;
  padding: 15px 20px;
}

.facet-price-form .facet-price-wrap {
  width: 46%;
  float: left;
}

.facet-options-list {
  margin: 0px;
}

.facet-options-list .input-range-indicator {
  border: 0;
  color: #ccc;
  background-color: #ccc;
  display: inline-block;
  height: 1px;
  width: 10px;
  position: relative;
  vertical-align: middle;
  float: left;
  margin: 16px 5px 0 -9px;
}

.facet-price-form .facet-price-wrap select {
  height: 32px;
}

// .facet-price-form .col-sm-12 .facet-price-wrap:first-child {
//   margin-left: 12px;
// }

.facet-options-list>li>a:hover {
  background-color: #efefef;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #fff;
  border-color: #337ab7;
}

.facet-options-list>li>.dropdown-menu>li>a {
  padding: 6px 20px;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: #333;
  white-space: nowrap;
}

.facet-options-list>li>.dropdown-menu>li>label {
  padding: 6px 20px;
}

.dropdown-menu>li>label {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: #333;
  white-space: nowrap;
}

.facet-bd .dropdown-menu>li>input[type="radio"], .facet-ba .dropdown-menu>li>input[type='radio'], .facet-sale .dropdown-menu>li>input[type=radio] {
  display: none;
}

.facet-bd .dropdown-menu>li>input[type="radio"]:checked + label, .facet-ba .dropdown-menu>li>input[type='radio']:checked + label, .facet-sale .dropdown-menu>li>input[type=radio]:checked + label {
  background-image: none;
  background-color: #d92228;
  color: #fff;
}

.facet-bd .dropdown-menu>li>label:hover, .facet-ba .dropdown-menu>li>label:hover, .facet-sale .dropdown-menu>li>label:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.facet-bd .dropdown-menu>li>label, .facet-ba .dropdown-menu>li>label {
  margin: 0;
}


.facet-property-type .dropdown-menu li {
  padding: 5px 20px 0;
}

.radio, .checkbox {
  margin-top: 5px;
  margin-bottom: 5px;
}

.facet-property-type .dropdown-menu li .checkbox>label {
  font-weight: 400;
}

.radio>label, .checkbox>label {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 300;
}

.radio label, .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

ul.facet-options-list li.facet-property-type a {
  padding: 14px 22px;
}

.facet-bar .facet-options-list>.facet-morefilters {
  position: relative;
}



@media screen and (max-width: 767px) {
  .facet-bar .facet-morefilters {
    float: right;
    border-left: 0px;
    margin: 8px 0;
  }

  .facet-bar .facet-property-type {
    border-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .facet-bar .facet-morefilters>a {
    padding: 5px 14px;
    width: 62px;
    color: #d92228;
    border: 1px solid #d92228;
  }
}



.open>.btn-default.dropdown-toggle {
  color: #d92228;
  background-color: #e6e6e6;
  border-color: #a41a1e;
}

.btn-default.dropdown-toggle, .open>.btn-default.dropdown-toggle {
  color: #333;
}

.facet-morefilters .btn {
  text-transform: none;
}

.btn-default.dropdown-toggle, .open>.btn-default.dropdown-toggle {
  color: #333;
}

@media screen and (max-width: 767px) {
  .facet-bar .facet-morefilters.open span[data-role="facet-label"] {
    display: none;
  }

  .facet-bar .facet-morefilters span#filter-close {
    display: none;
  }
  .facet-bar .facet-morefilters.open span#filter-close {
    display: block;
    font-size: 16px;
  }
}


.facet-bar .facet-options-list>.facet-morefilters>.dropdown-menu {
  width: 100%;
  padding: 10px 0;
  white-space: normal;
}

.facet-bar .facet-options-list>.facet-morefilters.open>.dropdown-menu {
  overflow-x: auto;
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .facet-mobile-list .container {
    margin-bottom: 10px;
  }
}

.facet-price-input select {
  width: 200px !important;
  height: 30px !important;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .facet-options-list .facet-price-input select {
    width: 130px !important;
  }
}

.facet-options-list .mobile-facet-price .input-range-indicator {
  margin: 15px 5px;
}

.radio-btn-group.radio-btn-group-justified {
  width: 100%;
}

.radio-btn-group input[type=radio] {
  display: none;
  margin: 10px;
}

.radio-btn-group.radio-btn-group-justified input[type=radio]+label {
  display: table-cell;
  float: none;
  width: 1%;
}

.radio-btn-group input[type=radio]+label:first-of-type {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.radio-btn-group input[type=radio]+label {
  display: inline-block;
  margin: -2px;
  padding: 6px 4px;
  background-color: #fff;
  border: 1px solid #999;
  text-align: center;
  border-right-width: 0px;
  font-weight: normal;
}

.radio-btn-group input[type=radio]:checked+label {
  background-image: none;
  background-color: #d92228;
  color: #fff;
}

.radio-btn-group input[type=radio]+label:last-of-type {
  border-right-width: 1px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.facet-bar .facet-options-list>.facet-morefilters .morefilters-row {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.row.gutter-sm {
  margin-right: -5px;
  margin-left: -5px;
}

.row.gutter-sm>[class^="col-"], .row.gutter-sm>[class*=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.facet-bar .facet-options-list>.facet-morefilters .morefilters-action {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px 0;
}

@media screen and (max-width: 767px) {
  .morefilters-action-btns .btn-update-facet {
    margin-bottom: 5px;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.link-secondary a {
  color: #4a4a4a;
  border-color: #d92228;
}

.link-secondary a:hover {
  text-decoration: underline;
}

.dropdown-menu .facet-mobile-list {
  margin-bottom: 100px;
}

.like-color a[data-method="post"] {
  color: grey;
}
.like-color a[data-method="delete"] {
  color: #d92228;
}

.listings-grid-favorite {
  position: absolute;
  z-index: 1;
  bottom: 6px;
  right: 10px;
}

.listings-grid-favorite .actions-toggle a .fa-heart, .listings-grid-favorite .actions-toggle a .fa-heart-o {
  font-size: 18px;
}
.listings-grid-favorite .actions-toggle a span {
  display: none;
}
.listings-grid-favorite .actions-toggle a:hover {
  cursor: default;
}

.listings-grid-favorite .actions>a, .actions>div {
  padding-top: 5px;
}
.listings-grid-favorite .actions>a, .actions>div, .actions>div>a {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  text-align: center;
}
.listings-grid-favorite .actions-toggle {
  cursor: pointer;
  position: relative;
}

.actions>div.like-color:hover i.fa-heart-o {
  color: #d92228;
}


// Price dropdown

.facet-price-form .facet-price-wrap {
  width: 46%;
  float: left;
}

.facet-price-form .facet-price-list-wrap .facet-price-list {
  width: 50%;
  float: left;
}

.facet-price-form .facet-price-list-wrap #facet-price-list-max {
  text-align: right;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.facet-price-input .input-group-addon {
  padding: 5px;
  color: #999;
}

.facet-options-list .input-range-indicator {
  border: 0;
  color: #ccc;
  background-color: #ccc;
  display: inline-block;
  height: 1px;
  width: 10px;
  position: relative;
  vertical-align: middle;
  float: left;
  margin: 15px 5px;
}

.facet-price-input .input-group-addon+input {
  border: 1px solid #c1c0c0;
  text-align: right;
}
.facet-price-input .form-control {
  padding: 6px 4px;
}

.facet-price-list-wrap {
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.facet-price-list-wrap .facet-price-list>li:hover, .facet-price-list-wrap .facet-price-list>li:focus {
  background-color: #f5f5f5;
}

.facet-price-list-wrap .facet-price-list {
  list-style: none;
}

.facet-price-list-wrap .facet-price-list>li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

// Mobile search

.rmd-sidebar {
  z-index: 100;
  height: 100%;
  top: 0;
}

.rmd-sidebar {
  position: fixed;
  right: -365px;
  padding: 0 0 85px;
  width: 350px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,.1);
  overflow-y: auto;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

@media screen and (max-width: 991px) {
	.rmd-sidebar.toggled {
		right: 0;
		opacity: 1;
	}
}

.rmd-sidebar .card {
  box-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding-bottom: 80px;
}

// .btn-group-justified.radio-mobile {
//   background-color: #eee;
// }



.card-body .form-group .radio-mobile {
  float: left;
  width: 50%;
  margin: 0;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 0 0 2px;
}

.card-body .form-group .radio-mobile input[type="radio"] {
  opacity: 0;
}
.radio-mobile input[type="radio"] {
  position: absolute;
  margin-left: -20px;
}

.radio-mobile input[type="radio"] + label {
  border-radius: 2px;
  background-color: #eee;
  display: block;
  position: relative;
  color: #828282;
  padding: 8px 13px;
  cursor: pointer;
  border-bottom: 0px;
  font-size: 12px;
  text-transform: none;
}

.radio-mobile input[type="radio"]:checked + label {
  background-color: #29B6F6;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rmd-sidebar .form-group #q_kind_cont {
  width: 100%;
  height: 35px;
}

.price-mobile-div, .price-mobile-div .text-min-max {
  overflow: hidden;
}
.price-mobile-div .pull-left:not(span) {
  width: 146px;
}
.price-mobile-div .pull-left select {
  height: 35px;
  width: 100%;
}
.price-mobile-div span.pull-left {
  margin-top: 8px;
  width: 5px;
  margin-left: 2px;
  margin-right: 1px;
}

.price-mobile-div .text-min-max h4 {
  float: right;
  font-size: 12px;
  margin: 0px 1px 5px;
}
.price-mobile-div .text-min-max h4:first-child {
  float: left;
}

.rmd-sidebar .card-body .form-group:last-child {
  margin-bottom: 0px;
}

.rmd-sidebar .card .card-footer {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}

.rmd-sidebar .btn-sm, .rmd-sidebar .btn-link {
  padding: 7px 12px;
}

.rmd-sidebar .btn-link {
  color: #2e353b;
}

.btn-link:hover {
  text-decoration: none;
}

////////////////////////////////////////////////////////////////////

.list-group-text > small.inline-ame {
  display: inline-block;
}

#main-content .main-container .list-group-block div.pagination {
  display: block;
  text-align: center;
}
